.img3{
    height: 100px;
    width:50px ;
    margin: 50px;

}

.img2{
    height: 130px;
    width:98px ;
    margin: 50px;
}
.img1{
    height: 140px;
    width:80px ;
    margin: 50px;
    margin-top: 10px;
}
 .h2{
    color: rgb(34, 34, 161);
  
 }
 .count{
   color: rgb(66, 66, 158);
 }